/* fonte 1*/    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* fonte 2*/    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{

    /* fontes */
    --font1: "Lato", sans-serif;
    --font2: "Open Sans", sans-serif;

    /* Paletas de cores */
    --color1: #0A2E36;     /* (Azul Denim) */
    --color2: #003B46;     /* (Azul Oceano Profundo) */
    --color3: #1A1B41;     /*  (Azul Celeste Profundo) */
    --color4: #002147;     /*  (Azul Meia-noite) */
    --color5: #002E2C;     /*  (Azul Esmeralda) */

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #181818;
}



header{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.300);
}

.logo{
    width: 40%;
    margin-top: 30px;
    
    a{
        font-size: 2.5em;
        text-decoration: none;
        font-weight: 900;
        text-align: center;
        background: linear-gradient(to left, green, lightblue);
        background-clip: text;
        color: transparent;
    }
    
}

.menu-area-fixo{
    width: 40%;
    height: 100px;
    padding-top: 40px;

    li{
        list-style: none;
        display: inline;
        margin: 0px 20px;

        a{
            position: relative;
            font-size: 1.5em;
            font-family: var(--font1);
            text-decoration: none;
            color: white;
        }

         a::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            bottom: -3px;
            background-color: white;
            transform-origin: center;
            transform: scaleX(0);
            transition: all .3s ease-in-out;
        }
        
         a:hover::before{
            transform: scaleX(1);
        }
    }
}


/* sobre */


main{
    width: 80%;
    margin: 0 auto;
}

section.inicio{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: end;


    .info{
        color: white;
        width: 50%;

        .funcao{
            font-family: var(--font2);
            font-weight: 400;
        }

        h1{
            font-size: 3em;
            font-weight: 900;
            font-family: var(--font1);
            margin: 20px 0px;
        }

        p{
            font-size: 1.5em;
            font-family: var(--font2);
            font-weight: 300;
            margin-bottom: 40px;
        }
    }

    .info-contact{
        width: 100%;
        display: flex;
        justify-content: center;

        a{
            position: relative;
            color: white;
            text-decoration: none;
            font-size: 1.3em;
            font-weight: 900;
            font-family: var(--font1);


            i{
                margin: 0px 10px;
                color: blue;
                font-size: 1.2em;
            }
        }

        .if1, .if2{
            margin: 0px 30px;
            padding: 10px;
        }

        a::before{
            position: absolute;
            width: 90%;
            content: "";
            height: 3px;
            bottom: -5px;
            right: 0;
            background-color: white;
            transform-origin: left;
            transform: scaleX(0);
            transition: all .3s ease-in-out;
        }

        a:hover::before{
            transform: scaleX(1);
        }
    }

}

.info-img{
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.466);
    animation: imgg 5s infinite;

    img{
        position: absolute;
        height: 700px;
        right: -100px;        
    }
}

@keyframes imgg{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-22px);
    }

    100%{
        transform: translateY(0);
    }
}



/* -------------------------Seção sobre-------------------- */

section.sobre{
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 4em;
        font-family: var(--font2);
        margin-bottom: 50px;
    }


    p{
        columns: 2;
        text-align: start;
        font-size: 1.53em;
        font-family: var(--font1);
        font-weight: 300;
        text-indent: 20px;
        line-height: 1.5em;


        strong{
            font-size: 1em;
            font-family: var(--font2);
            color: aqua;
        }
        
    }
}



/* -------------------------Seção projetos-------------------- */

section.projetos{
    margin-bottom: 100px;
    min-height: 100vh;
    color: white;

    h2{
        font-size: 4em;
        font-family: var(--font2);
        margin-bottom: 1em;
    }


    p{
        font-family: var(--font1);
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 5em;
    }        
}


.btn1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}


.btn-vermelho{
    background-color: red;
    color: white;
}

.btn-vermelho:hover{
    background-color: darkred;
}

button{
    position: relative;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.3em;
    font-family: var(--font2);
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover{
    background-color: darkblue;
}


.projetos-cards{
    position: relative;
    height: 650px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;   
    justify-items: center;
    transition: height .5s ease-in-out;
    


    .card{
        position: relative;
        box-shadow: 0px 0px 10px 2px var(--color3);
        height: 500px;
        width: 350px;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px 0px 30px 0px;


        .card-img{
            background-color: var(--color5);
            width: 100%;
            height: 80%;
        }


        span{
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            margin: 10px 0px;
            font-size: 1.2em;
            font-family: var(--font1);
        }
    }
}

.projetos-cards::before{
    position: absolute;
    content: "";
    width: 98%;
    height: 250px;
    bottom: 0;
    background: linear-gradient(transparent, transparent, var(--color5));
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    transition: .3s ease-in-out;
}

.projetos-cards.active::before{
    visibility: hidden;
}

.projetos-cards.active{
    height: 1060px;    
}





/* -------------------------Seção Habilidades-------------------- */


section.habilidades{
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    h2{
        font-size: 2.5em;
        font-family: var(--font2);
        margin-bottom: 1em;
    }
}


.infos-habilidades{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    align-content: center;
    justify-items: center;
}

.card-habilidades{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    height: 300px;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;

    span{
        font-size: 1.4em;
        font-family: var(--font2);
        font-weight: 300;
        line-height: 100px;
    }
}

.card-img-habilidades{
    width: 100%;
    height: 60%;
    background-color: var(--color5);     
}



/* -------------------------Seção contatos-------------------- */

section.contato{
    height: 100vh;
    background-color: black;
    color: white;
    padding-top: 100px;


    h2{
        font-size: 2.5em;
        font-family: var(--font2);
        margin-bottom: 1em;
    }
}